.card {
    width: 255px;
    height: 255px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

.img {
    width: 225px;
    height: 225px;
    background-position: center;
    background-size: cover;
}

.card:hover .button {
    width: 48px;
    height: 48px;
    background-image: url('/cat-app/images/HoveredBlock.svg');
    background-size: cover;
    background-position: center;
    background-size: 40px 36.7px;
    background-repeat: no-repeat;
    border: none;
    position: absolute;
    bottom: 17px;
    right: 15px;
    z-index: 1000;
    cursor: pointer;
}

.card:hover .button_active {
    background-image: url('/cat-app/images/ClickedHeart.svg');
}

.card:hover .button:hover {
    background-image: url('/cat-app/images/HoveredHeart.svg');
}

.card:hover .button:active {
    background-image: url('/cat-app/images/ClickedHeart.svg');
}